@model CloudFoundry.ViewModels.SubSectionConfigViewModel
@{
    ViewBag.Title = "Application Subsection Configuration data from appsettings.json & appsettings.development.json";
}
<h2>@ViewBag.Title</h2>

<h3>Configuration Data</h3>
<h4>suboption1 = @Model.SubSectionConfig.Suboption1</h4>
